// component css goes here
.icon{

    font-size: 100px;
    display: flex;
    justify-content: center;
}

.space-top{
    padding-top: 20px;
}

.border-box {
    padding-bottom: 10px;
    border: solid 1px;
    border-radius: 6px;
}