// Variables
// --------------------------


// Color
$white: #FFFFFF;
$black: #000000;
$dark: #222;
$red: #e32;
$salmon: #ff807d;
$orange: #ff9f50;
$dark-orange: #f98543;
$soft-orange: #fa9a67;
$bg-gray: #f0f0f0;
$light-gray: #e6e9ee;
$dark-gray: #caced4;
$darken-gray: #a0a0a0;
$light-green: #cdf062;
$bg-light-green:#eefade;
$bg-green-eservice: #aec22b;
$dark-green: #8dc63f;
$sea-green: #3ccfbc;
$sea-green-form: #32ceb0;
$light-purple: #abaaf0;
$brown: #64534e;
$light-orange: #ff9a46;