<!-- result -->
<ng-container>
        <div class="container-fluid">
            <div class="col-lg-1 col-md-1 col-xs-1"></div>
            <div class="panel panel-report col-lg-10 col-md-10 col-xs-10">
                <h1 class="title-report">Keyword</h1>
                <hr>
                <div>
                    <div class="table-wrapper">
                        <table class="table">
                            <thead>
                                <!-- header -->
                                <tr class="tr-template col-lg-12 col-md-12 col-xs-12">
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Keyword Code</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Abbrevlation</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Description</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Effective Date</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Expire Date</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Type</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Is Paid</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Allow 1 year</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">No Compensatio</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Allow Actual</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Edit</th>
                                    <th class="col-lg-1 col-md-1 col-xs-1 text-center">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- result -->
                                <tr class="tr-border tr-template col-lg-12 col-md-12 col-xs-12" *ngFor="let data of keywordList ;let i = index">
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1 text-center">{{data.keywordCode}}</td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1"><input type="text" class="form-control" [(ngModel)]="keywordCode[i]" ></td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1 text-center">{{data.abbrevlation}}</td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1"><input type="text" class="form-control" [(ngModel)]="abbrevlation[i]" ></td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1 text-center">{{data.description}}</td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1"><input type="text" class="form-control" [(ngModel)]="description[i]" ></td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">{{data.txtDate}}</td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1">
                                        <my-date-picker  [options]="myDatePickerOptions" [selector]="selector" (inputFieldChanged)="onInputFieldChanged($event,i)" [(ngModel)]="data.effectiveDate" required ></my-date-picker>
                                    </td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">{{data.txtDate}}</td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1">
                                        <my-date-picker  [options]="myDatePickerOptions" [selector]="selector" (inputFieldChanged)="onInputFieldChanged($event,i)" [(ngModel)]="data.expireDate" required ></my-date-picker>
                                    </td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1 text-center">{{data.type}}</td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1"><input type="text" class="form-control" [(ngModel)]="type[i]" ></td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">
                                        <span *ngIf="data.isPaid" class="glyphicon glyphicon-ok" style="color:green;" ></span>
                                        <span *ngIf="!data.isPaid" class="glyphicon glyphicon-remove" style="color:red;" ></span>
                                    </td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">
                                        <span *ngIf="data.allow1y" class="glyphicon glyphicon-ok" style="color:green;" ></span>
                                        <span *ngIf="!data.allow1y" class="glyphicon glyphicon-remove" style="color:red;" ></span>
                                    </td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">
                                        <span *ngIf="data.allowActual" class="glyphicon glyphicon-ok" style="color:green;" ></span>
                                        <span *ngIf="!data.allowActual" class="glyphicon glyphicon-remove" style="color:red;" ></span>
                                    </td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">
                                        <span *ngIf="data.compensation" class="glyphicon glyphicon-ok" style="color:green;" ></span>
                                        <span *ngIf="!data.compensation" class="glyphicon glyphicon-remove" style="color:red;" ></span>
                                    </td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1">
                                        <input type="checkbox"  [checked]="data.isPaid" (change)="checkbox($event,i)">
                                    </td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1">
                                        <input type="checkbox"  [checked]="data.allow1y" (change)="checkbox($event,i)">
                                    </td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1">
                                        <input type="checkbox"  [checked]="data.allowActual" (change)="checkbox($event,i)">
                                    </td>
                                    <td *ngIf="data.edit"  class="col-lg-1 col-md-1 col-xs-1">
                                        <input type="checkbox"  [checked]="data.compensation" (change)="checkbox($event,i)">
                                    </td>
                                    <td *ngIf="!data.edit" class="col-lg-1 col-md-1 col-xs-1">
                                        <span class="glyphicon glyphicon-pencil" (click)="setEdit(i)"></span>
                                    </td>
                                    <td *ngIf="data.edit"class="col-lg-1 col-md-1 col-xs-1">
                                        <span class="glyphicon glyphicon-floppy-saved _green" (click)="setSave(i)"></span>
                                        <span class="glyphicon glyphicon-floppy-remove _red" (click)="setCancle(i)"></span>
                                    </td>
                                    <td class="col-lg-1 col-md-1 col-xs-1">
                                        <span class="glyphicon glyphicon-trash" (click)="setDelete(i)"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
            
    </ng-container>